VITE_APPWRITE_URL="https://cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID="66d957c600313876480b"
VITE_APPWRITE_DATABASE_ID="66d9588b00011903e9d5"
VITE_APPWRITE_COLLECTION_ID="66d9591400093cebd58f"
VITE_APPWRITE_BUCKET_ID="66d95aa0001ac510df35"
